//************  buttons

.btn_v1 {
  height: 40px;

  &.order_btn {
    float: left;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    border-radius: 2px;
    font: 500 13px/16px $Rubik;
    padding: 12px;
    text-align: center;
    margin-top: 10px;
  }

}

.blue_btn {
  @include transition_all(background .3s);
  background: $gl_violete;
  color: $gl_white;

  &:hover {
    background: $gl_violete_hover;
  }

}

.green_btn {
  color: #fff;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}