//************  buttons

.btn_v1 {
  height: 40px;

  &.fav_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font: 500 13px/16px $Rubik;
    padding: 12px;
    text-align: center;
  }

  &.apply_btn {
    display: block;
    font: 500 13px/16px $Rubik;
    padding: 12px 30px;
    text-align: center;
    border-radius: 2px;
  }
  
  &.order_btn {
    float: left;
    //width: 100%;
    //max-width: 200px;
    cursor: pointer;
    border-radius: 2px;
    font: 500 13px/16px $Rubik;
    padding: 12px 44px;
    text-align: center;
    margin-top: 10px;

    &.mod_2 {
      padding: 12px 24px;
      margin-bottom: 35px;
    }
    
    &.mod_3 {
      padding: 12px 36px;
      margin-bottom: 35px;
    }
  }

  &.load_more_btn {
    text-align: center;
    display: block;
    border-radius: 2px;
    font-size: 13px;
    padding: 11px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 55px;
  }
  
}

.btn_v2 {
  height: 50px;

  &.sort_btn {
    @include transition_all(background .3s, color .3s);
    display: block;
    text-transform: uppercase;
    padding: 15px 12px;
    font-size: 10px;
    line-height: 20px;
    position: relative;
    color: $gl_white;
    letter-spacing: 1.2px;
    
    &.active {
      color: $gl_main_black;
      background: $gl_turquoise;
    }
    
    .sort_icon {
      margin-left: 5px;
    }
  }
}

.blue_btn {
  @include transition_all(background .3s);
  background: $gl_violette;
  color: $gl_white;

  &:hover {
    background: $gl_violette_hover;
  }

}

.green_btn {
  color: #fff;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.violette_btn {
  @include transition_all(background .3s, color .3s);
  background: $gl_white;
  color: $gl_main_black;
  border: 1px solid $gl_violette_link_hover;

  &:hover {
    color: $gl_white;
    background: $gl_violette_link_hover;
  }
}

.light_blue_btn {
  @include transition_all(background .3s, color .3s);
  background: $gl_turquoise;
  color: $gl_main_black;

  &:hover {
    color: $gl_white;
    background: $gl_violette_link_hover;
  }
}

