html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 $Rubik;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;

  @include respond-to-min($resp_s) {
    padding-left: 60px;
  }

  @include respond-to-min($resp_xl) {
    padding-left: 300px;
  }
  
}

.base {
  min-height: 1500px;
  padding-top: 60px;

  @include respond-to-min($resp_s) {
    padding-top: 0;
    
    &:before {
      height: 100px;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: $gl_white;
    }
  }

  //padding-bottom: 150px;
}

.section_inner {
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;

  .main_content & {
    padding: 0 15px;

    @include respond-to-min($resp_s) {
      padding: 0 30px;
    }
  }
}

.main_content {
  padding-top: 10px;

  @include respond-to-min($resp_s) {
    padding-top: 40px;
  }
}

.product_list {
  @extend %global_flex_block_row_wrap_space_between_stretch;
  margin: 0 -15px;

  > li {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
  }

  @include respond-to-min($resp_s) {

    > li {
      width: 25%;
      margin-bottom: 40px;
    }
  }
}

.product_item {
  text-align: center;

  p {
    margin-top: 10px;
    line-height: 1.4;
    color: $gl_gray_additional;

    @include respond-to-max($resp_s) {
      display: none;
    }
  }
}

.product_img {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.product_caption {
  font-weight: 500;
  font-size: 12px;
  margin-top: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.share_list {
  @extend %global_flex_block_row_wrap_space_between_stretch;
  margin: 0 -15px;

  > li {
    margin-bottom: 10px;
  }

  @include respond-to-min($resp_s) {

    > li {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 40px;
    }
  }

}

.share_item {
  text-align: center;
  height: 100%;
  position: relative;
  background: $gl_gray_light;
}

.share_img {
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}

.share_text {
  @extend %global_flex_block_column_nowrap_center_center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .share_caption {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 3.2px;

    @include respond-to-min($resp_l) {
      margin-top: 15px;
    }

  }

  p {
    margin-top: 5px;
  }

}

.gl_link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}
