@font-face {
  font-family: 'daddys_kid';
  src:
    url('fonts/daddys_kid.ttf?zgxfcr') format('truetype'),
    url('fonts/daddys_kid.woff?zgxfcr') format('woff'),
    url('fonts/daddys_kid.svg?zgxfcr#daddys_kid') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'daddys_kid' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-abc-squares:before {
  content: "\e900";
}
.i-baby-abacus-toy:before {
  content: "\e901";
}
.i-baby-abc-cubes:before {
  content: "\e902";
}
.i-baby-bag-with-flower-design:before {
  content: "\e903";
}
.i-baby-ball-toy:before {
  content: "\e904";
}
.i-baby-bath-with-toy-balls:before {
  content: "\e905";
}
.i-baby-bear-toy:before {
  content: "\e906";
}
.i-baby-bed-with-a-mobile-toy-with-hanging-shapes-of-sun-moon-and-star2:before {
  content: "\e907";
}
.i-baby-bed-with-a-mobile-toy-with-hanging-shapes-of-sun-moon-and-star:before {
  content: "\e908";
}
.i-baby-bed:before {
  content: "\e909";
}
.i-baby-bib-cloth-outline:before {
  content: "\e90a";
}
.i-baby-bib-outline-with-a-flower:before {
  content: "\e90b";
}
.i-baby-bib-outline-with-heart-shape:before {
  content: "\e90c";
}
.i-baby-bib-with-a-fish:before {
  content: "\e90d";
}
.i-baby-bib-with-a-soccer-ball-illustration:before {
  content: "\e90e";
}
.i-baby-bib-with-animal-head-outline:before {
  content: "\e90f";
}
.i-baby-bib-with-heart-outline:before {
  content: "\e910";
}
.i-baby-bike-with-training-wheels:before {
  content: "\e911";
}
.i-baby-bottle-outline-1:before {
  content: "\e912";
}
.i-baby-bottle-outline:before {
  content: "\e913";
}
.i-baby-bottle-with-a-heart:before {
  content: "\e914";
}
.i-baby-bottle-with-baby-face:before {
  content: "\e915";
}
.i-baby-chair:before {
  content: "\e916";
}
.i-baby-cloth-with-a-rabbit-head-outline:before {
  content: "\e917";
}
.i-baby-cloth-with-a-rabbit-head-outline2:before {
  content: "\e918";
}
.i-baby-cream-outline:before {
  content: "\e919";
}
.i-baby-crib-mobile:before {
  content: "\e91a";
}
.i-baby-diaper-outline-1:before {
  content: "\e91b";
}
.i-baby-diaper-outline-with-security-pin-in-the-front:before {
  content: "\e91c";
}
.i-baby-diaper-outline:before {
  content: "\e91d";
}
.i-baby-drinking-bottle-outline-with-side-handles:before {
  content: "\e91e";
}
.i-baby-duck-toy-outline:before {
  content: "\e91f";
}
.i-baby-dummy-with-bear-head-silhouette:before {
  content: "\e920";
}
.i-baby-face-crying:before {
  content: "\e921";
}
.i-baby-flash-cards-with-book-image:before {
  content: "\e922";
}
.i-baby-footprints:before {
  content: "\e923";
}
.i-baby-girl-outline:before {
  content: "\e924";
}
.i-baby-hat:before {
  content: "\e925";
}
.i-baby-head-outline-with-pacifier:before {
  content: "\e926";
}
.i-baby-head-with-a-small-heart-outline:before {
  content: "\e927";
}
.i-baby-male-face:before {
  content: "\e928";
}
.i-baby-mobile-toy-with-hanging-space-shapes:before {
  content: "\e929";
}
.i-baby-onesie-outline-with-smiling-sun:before {
  content: "\e92a";
}
.i-baby-onesie-outline:before {
  content: "\e92c";
}
.i-baby-onesie-with-front-pocket-outline:before {
  content: "\e92d";
}
.i-baby-outline:before {
  content: "\e92e";
}
.i-baby-pacifier-outline:before {
  content: "\e92f";
}
.i-baby-puree-pot-and-a-spoon:before {
  content: "\e930";
}
.i-baby-rattle-1:before {
  content: "\e931";
}
.i-baby-rattle-of-flower-shape:before {
  content: "\e932";
}
.i-baby-rattle:before {
  content: "\e933";
}
.i-baby-ring-tower:before {
  content: "\e934";
}
.i-baby-shape-box-toy:before {
  content: "\e935";
}
.i-baby-shoes:before {
  content: "\e936";
}
.i-baby-standing-outline-with-pants:before {
  content: "\e937";
}
.i-baby-stroller-of-rounded-design-side-view:before {
  content: "\e938";
}
.i-baby-stroller-outline-of-side-view:before {
  content: "\e939";
}
.i-baby-stroller:before {
  content: "\e93a";
}
.i-baby-transport-side-view:before {
  content: "\e93b";
}
.i-baby-walker:before {
  content: "\e93c";
}
.i-baby-wearing-diaper-only-outline:before {
  content: "\e93d";
}
.i-baby-with-pacifier-sign-and-lines:before {
  content: "\e93e";
}
.i-baby-wrapped-in-swaddle:before {
  content: "\e93f";
}
.i-balloons-couple:before {
  content: "\e940";
}
.i-bear-face:before {
  content: "\e941";
}
.i-bear-face2:before {
  content: "\e942";
}
.i-bear-rattle-outline:before {
  content: "\e943";
}
.i-bear-toy:before {
  content: "\e944";
}
.i-bucket-and-sand-shovel:before {
  content: "\e945";
}
.i-car-baby-toy-outline:before {
  content: "\e946";
}
.i-circular-button:before {
  content: "\e947";
}
.i-crayon:before {
  content: "\e948";
}
.i-cup-with-a-spoon-inside:before {
  content: "\e949";
}
.i-diaper-with-a-heart-and-a-safety-pin:before {
  content: "\e94a";
}
.i-divider-outline:before {
  content: "\e94b";
}
.i-duck-side-view-outline:before {
  content: "\e94c";
}
.i-female-baby-face:before {
  content: "\e94d";
}
.i-female-baby-head:before {
  content: "\e94e";
}
.i-flower-smile:before {
  content: "\e94f";
}
.i-fork-knife-and-plate-outline:before {
  content: "\e950";
}
.i-hot-air-balloon-baby-toy:before {
  content: "\e951";
}
.i-moon-and-stars:before {
  content: "\e952";
}
.i-number-blocks-toys:before {
  content: "\e953";
}
.i-pacifier-for-babies:before {
  content: "\e954";
}
.i-pregnant-woman-outlined-side-view:before {
  content: "\e955";
}
.i-rainbow-outline:before {
  content: "\e956";
}
.i-rattle-for-babies-1:before {
  content: "\e957";
}
.i-rattle-for-babies:before {
  content: "\e958";
}
.i-rattle-with-a-star-shape:before {
  content: "\e959";
}
.i-sad-baby-face:before {
  content: "\e95a";
}
.i-security-pin-opened:before {
  content: "\e95b";
}
.i-skate-with-handle-side-view:before {
  content: "\e95c";
}
.i-sleeping-baby:before {
  content: "\e95d";
}
.i-smiling-sun:before {
  content: "\e95e";
}
.i-sock-side-view-outline:before {
  content: "\e95f";
}
.i-square-blocks-outline:before {
  content: "\e960";
}
.i-stork-carrying-a-bag:before {
  content: "\e961";
}
.i-stork-carrying-a-bag2:before {
  content: "\e962";
}
.i-tool-to-listen-a-baby-from-far:before {
  content: "\e963";
}
.i-toy-ball:before {
  content: "\e964";
}
.i-toy-car-outline:before {
  content: "\e965";
}
.i-toy-horse-rocking-chair-outline:before {
  content: "\e966";
}
.i-truck-side-view-outline:before {
  content: "\e967";
}
.i-two-pieces-of-a-puzzle:before {
  content: "\e968";
}
.i-chevron-down:before {
  content: "\e96c";
}
.i-chevron-up:before {
  content: "\e96b";
}
.i-chevron-right:before {
  content: "\e969";
}
.i-chevron-left:before {
  content: "\e96a";
}
.i-location:before {
  content: "\e92b";
}
.i-cross:before {
  content: "\e96d";
}
.i-f:before {
  content: "\e970";
}
.i-t:before {
  content: "\e96e";
}
.i-v:before {
  content: "\e96f";
}
.i-o:before {
  content: "\e972";
}
.i-g:before {
  content: "\e971";
}

