$icomoon-font-path: "fonts" !default;

$i-abc-squares: "\e900";
$i-baby-abacus-toy: "\e901";
$i-baby-abc-cubes: "\e902";
$i-baby-bag-with-flower-design: "\e903";
$i-baby-ball-toy: "\e904";
$i-baby-bath-with-toy-balls: "\e905";
$i-baby-bear-toy: "\e906";
$i-baby-bed-with-a-mobile-toy-with-hanging-shapes-of-sun-moon-and-star2: "\e907";
$i-baby-bed-with-a-mobile-toy-with-hanging-shapes-of-sun-moon-and-star: "\e908";
$i-baby-bed: "\e909";
$i-baby-bib-cloth-outline: "\e90a";
$i-baby-bib-outline-with-a-flower: "\e90b";
$i-baby-bib-outline-with-heart-shape: "\e90c";
$i-baby-bib-with-a-fish: "\e90d";
$i-baby-bib-with-a-soccer-ball-illustration: "\e90e";
$i-baby-bib-with-animal-head-outline: "\e90f";
$i-baby-bib-with-heart-outline: "\e910";
$i-baby-bike-with-training-wheels: "\e911";
$i-baby-bottle-outline-1: "\e912";
$i-baby-bottle-outline: "\e913";
$i-baby-bottle-with-a-heart: "\e914";
$i-baby-bottle-with-baby-face: "\e915";
$i-baby-chair: "\e916";
$i-baby-cloth-with-a-rabbit-head-outline: "\e917";
$i-baby-cloth-with-a-rabbit-head-outline2: "\e918";
$i-baby-cream-outline: "\e919";
$i-baby-crib-mobile: "\e91a";
$i-baby-diaper-outline-1: "\e91b";
$i-baby-diaper-outline-with-security-pin-in-the-front: "\e91c";
$i-baby-diaper-outline: "\e91d";
$i-baby-drinking-bottle-outline-with-side-handles: "\e91e";
$i-baby-duck-toy-outline: "\e91f";
$i-baby-dummy-with-bear-head-silhouette: "\e920";
$i-baby-face-crying: "\e921";
$i-baby-flash-cards-with-book-image: "\e922";
$i-baby-footprints: "\e923";
$i-baby-girl-outline: "\e924";
$i-baby-hat: "\e925";
$i-baby-head-outline-with-pacifier: "\e926";
$i-baby-head-with-a-small-heart-outline: "\e927";
$i-baby-male-face: "\e928";
$i-baby-mobile-toy-with-hanging-space-shapes: "\e929";
$i-baby-onesie-outline-with-smiling-sun: "\e92a";
$i-baby-onesie-outline: "\e92c";
$i-baby-onesie-with-front-pocket-outline: "\e92d";
$i-baby-outline: "\e92e";
$i-baby-pacifier-outline: "\e92f";
$i-baby-puree-pot-and-a-spoon: "\e930";
$i-baby-rattle-1: "\e931";
$i-baby-rattle-of-flower-shape: "\e932";
$i-baby-rattle: "\e933";
$i-baby-ring-tower: "\e934";
$i-baby-shape-box-toy: "\e935";
$i-baby-shoes: "\e936";
$i-baby-standing-outline-with-pants: "\e937";
$i-baby-stroller-of-rounded-design-side-view: "\e938";
$i-baby-stroller-outline-of-side-view: "\e939";
$i-baby-stroller: "\e93a";
$i-baby-transport-side-view: "\e93b";
$i-baby-walker: "\e93c";
$i-baby-wearing-diaper-only-outline: "\e93d";
$i-baby-with-pacifier-sign-and-lines: "\e93e";
$i-baby-wrapped-in-swaddle: "\e93f";
$i-balloons-couple: "\e940";
$i-bear-face: "\e941";
$i-bear-face2: "\e942";
$i-bear-rattle-outline: "\e943";
$i-bear-toy: "\e944";
$i-bucket-and-sand-shovel: "\e945";
$i-car-baby-toy-outline: "\e946";
$i-circular-button: "\e947";
$i-crayon: "\e948";
$i-cup-with-a-spoon-inside: "\e949";
$i-diaper-with-a-heart-and-a-safety-pin: "\e94a";
$i-divider-outline: "\e94b";
$i-duck-side-view-outline: "\e94c";
$i-female-baby-face: "\e94d";
$i-female-baby-head: "\e94e";
$i-flower-smile: "\e94f";
$i-fork-knife-and-plate-outline: "\e950";
$i-hot-air-balloon-baby-toy: "\e951";
$i-moon-and-stars: "\e952";
$i-number-blocks-toys: "\e953";
$i-pacifier-for-babies: "\e954";
$i-pregnant-woman-outlined-side-view: "\e955";
$i-rainbow-outline: "\e956";
$i-rattle-for-babies-1: "\e957";
$i-rattle-for-babies: "\e958";
$i-rattle-with-a-star-shape: "\e959";
$i-sad-baby-face: "\e95a";
$i-security-pin-opened: "\e95b";
$i-skate-with-handle-side-view: "\e95c";
$i-sleeping-baby: "\e95d";
$i-smiling-sun: "\e95e";
$i-sock-side-view-outline: "\e95f";
$i-square-blocks-outline: "\e960";
$i-stork-carrying-a-bag: "\e961";
$i-stork-carrying-a-bag2: "\e962";
$i-tool-to-listen-a-baby-from-far: "\e963";
$i-toy-ball: "\e964";
$i-toy-car-outline: "\e965";
$i-toy-horse-rocking-chair-outline: "\e966";
$i-truck-side-view-outline: "\e967";
$i-two-pieces-of-a-puzzle: "\e968";
$i-checkmark: "\e977";
$i-chevron-down: "\e96c";
$i-chevron-up: "\e96b";
$i-chevron-right: "\e969";
$i-chevron-left: "\e96a";
$i-location: "\e92b";
$i-cross: "\e96d";
$i-f: "\e970";
$i-t: "\e96e";
$i-v: "\e96f";
$i-arr_right: "\e975";
$i-arr_left: "\e976";
$i-star-outlined: "\e978";
$i-star: "\e979";
$i-sort-desc: "\e973";
$i-sort-asc: "\e974";
$i-o: "\e972";
$i-clock: "\e97a";
$i-g: "\e971";

