include mixins
doctype html
html(lang='ru')
    +dev_head("Daddy's kid Доставка")

    body
        .wrapper
            .base
                +header(1)
                
                div.main_content
                    .section_inner
                        +breadcrumbs(['Главная', 'Доставка'])
                        h1.page_title.fw_700
                            span Доставка
                            
                        .article_content.delivery_mod
                            p.cool_text.fz_18 Мы осуществляем доставку по Москве и Московской области, подъем на грузовом лифте осуществляется бесплатно. Также, в случае необходимости, вы можете забрать свой заказ в пункте самовывоза. Доставка в регионы осуществляется транспортными компаниями, подробные условия всегда можно уточнить у наших менеджеров. 
                            
                            h3 Наши преимущества
                            
                            ul.benefits_list
                                li
                                    .benefit_item
                                        .benefit_img
                                        p Бесплатная доставка от 3000 руб.
                                li
                                    .benefit_item
                                        .benefit_img
                                        p Вы можете самостоятельно забрать свой заказ в пункте самовывоза.
                                li
                                    .benefit_item
                                        .benefit_img
                                        p Вежливые, аккуратные, профессиональные грузчики.
                            
                            h3 Стоимость услуг
                            
                            ul#delivery_switcher.tab_holder.tab_v3
                                li.tab_cell: a.tab_link(href='#delivery_tab_1'): span Сборка
                                li.tab_cell: a.tab_link(href='#delivery_tab_2'): span Доставка

                            .tabBlock(data-tab-context='#delivery_switcher')
                                #delivery_tab_1
                                    .tab_content.article_content
                            
                                        h3 Получение товара
            
                                        p Отнеситесь ответственно к получению товара, если хотите быть уверены в том, что он будет доставлен в сохранности. Не поручайте его детям или сторонним людям, чтобы избежать случайного повреждения при подъеме. 
            
                                        h4 При получении товара:
            
                                        ul
                                            li ширина проемов входной и межкомнатных дверей в помещении должна составлять не менее 75 х 190 см;
                                            li для обеспечения возможности беспрепятственного заноса мебели свободная ширина прохода внутри помещения должна быть не менее 105 см;
                                            li грузовой транспорт должен быть обеспечен беспрепятственным въездом на охраняемую территорию, а также к месту выгрузки не далее чем 15м до подъезда;
                                        
                                #delivery_tab_2
                                    .tab_content.article_content
                            
                                        h3 Сборка
            
                                        p Отнеситесь ответственно к получению товара, если хотите быть уверены в том, что он будет доставлен в сохранности. Не поручайте его детям или сторонним людям, чтобы избежать случайного повреждения при подъеме. 
            
                                        h4 При получении товара:
            
                                        ul
                                            li ширина проемов входной и межкомнатных дверей в помещении должна составлять не менее 75 х 190 см;
                                            li для обеспечения возможности беспрепятственного заноса мебели свободная ширина прохода внутри помещения должна быть не менее 105 см;
                                            li грузовой транспорт должен быть обеспечен беспрепятственным въездом на охраняемую территорию, а также к месту выгрузки не далее чем 15м до подъезда;
     
            +footer()
            
        +aside_left()
        +aside_right()
        +popups()
        
