include mixins.pug
doctype html
html(lang='ru')
    +dev_head("'Daddy's kid'")

    body
        .wrapper
            .rect_1024
            .base
                +header(1)
                


                div.main_content


            +footer()
            
        +aside_left()
        +aside_right()
        
