include mixins.pug
doctype html
html(lang='ru')
    +dev_head("'Daddy's kid'", false, false)

    body
        .wrapper
            .base
                +header(1)
                
                div.main_content
                    .section_inner
                        +breadcrumbs(['Главная', 'Новости', 'Платье со спущеными плечами'])
                        h1.page_title.fw_700
                            span Платье со спущенными плечами:
                            span.mob_hidden <br>  
                            span инструкция по применению

                        .news_container
                            .article_holder
                                a.news_img(href='news_1.html')
                                    img(src='images/news_big.jpg')
                                    .product_hit Акция
                                        
                                p.cool_text Действует с 12 по 15 апреля
                                    
                                .article_content
                                    p.cool_text.fz_18 Ты уже наверняка не первый раз слышишь о том, что платье со спущенными плечами - одна из главных вещей сезона. Мы осуществляем доставку по Москве и Московской области, подъем на грузовом лифте осуществляется бесплатно. Также, в случае необходимости, вы можете забрать свой заказ в пункте самовывоза. Доставка в регионы осуществляется транспортными компаниями, подробные условия всегда можно уточнить у наших менеджеров. 
                                    h3 Получение товара
                                    
                                    p Отнеситесь ответственно к получению товара, если хотите быть уверены в том, что он будет доставлен в сохранности. Не поручайте его детям или сторонним людям, чтобы избежать случайного повреждения при подъеме. 
                                    
                                    h4 При получении товара:
                                    
                                    ul
                                        li ширина проемов входной и межкомнатных дверей в помещении должна составлять не менее 75 х 190 см;
                                        li для обеспечения возможности беспрепятственного заноса мебели свободная ширина прохода внутри помещения должна быть не менее 105 см;
                                        li грузовой транспорт должен быть обеспечен беспрепятственным въездом на охраняемую территорию, а также к месту выгрузки не далее чем 15м до подъезда;
     
                            .aside_col.loaded
                                ul.aside_news
                                    +loop_while(3)
                                        li
                                            .news_block
                                                a.news_img(href='news_1.html')
                                                    img(src='images/news_1.jpg')
                                                    .product_hit Акция
                                                .news_inner
                                                    .news_caption: a(href='news_1.html') ВЕЩЬ СЕЗОНА: КОРСЕТ МАДОННЫ
                                                .news_date Год назад
                                                
                               

            +footer()
            
        +aside_left()
        +aside_right()
        +popups()
        
